@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Sheared style */

.display_flex{
  display: flex;
}

.text_primary{
  color: #FF900E;
}

/* dark02 */
.text_gray{
  color: #424242;
}

/* dark03 */

.text_light_gray{
  color: #727272;
}

.bg_light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn_primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-size: 600;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

.section_title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* Header */

/* Navbar */

.navbar{
  justify-content: space-between;
  align-items: center;
}


.brand{
  font-weight: 700;
  font-size: 3rem;
}


.nav_item{
  list-style: none;
  margin-right: 30px;
}


.nav_link{
  text-decoration: none;
}


.banner, .navbar{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Content */

.banner_content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner_title{
  font-weight: 700;
  font-size: 4rem;
}
.banner_description{
  font-size: 1rem;
  line-height: 26px;
}
.banner_image{
  width: 100%;
}

/* teams and features style */

.teams{
  align-items: center;
}

.team_image_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our_features{
  margin-left: 130px;
  max-width: 537px;
}


#quick_list{
  font-weight: 500;
}

/* facts */

.facts_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.fact_card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
    margin: 0 auto;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact_number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.fact_name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact_description{
  max-width: 540px;
  margin-bottom: 100px;
}

.sponsor_info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsors_companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}


.sponsors_companies img{
  filter: grayscale(100%);
}
/* responsive media query */

@media screen and (max-width: 576px){
  .navbar, 
  .nav_links, .teams{
    flex-direction: column;
  }

  .team_image_container, 
  .facts_container , 
  .sponsors_companies {
    grid-template-columns: repeat(1,1fr);
  }

 .facts_container, 
 .sponsors_companies{
  justify-items: center;
  gap: 24px;
 }
  .our_features{
  margin-left: 20px;
}
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
  } 
  .our_features{
    margin: 50px auto;
  }

  .facts_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
  }

  .sponsors_companies{
    grid-template-columns: repeat(3, 1fr);
    gap: 50px ;
  }
}